<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="edu.yale.plugins.tasks.yaleplugintasks" version="0.0.1"
class="edu.yale.plugins.tasks.YalePluginTasks">
	<runtime>
	  <library id="yaleplugintasks" path="/" type="code"/>
  </runtime>
</plugin>